<!-- string interpolation -->
<!-- <p>Server with ID {{ serverId }} is {{severStatus}}</p>   string interpolation direct -->
<!-- <p>Server with ID {{ serverId }} is {{getSeverStatus()}}</p>    string interpolation  method -->

<!-- <p [ngStyle]="{backgroundColor: getColor()}">Server with ID {{ serverId }} is {{getSeverStatus()}}</p>    directive   -->
<p [ngStyle]="{backgroundColor: getColor()}"  [ngClass]="{online:serverStatus === 'online'}">Server with ID {{ serverId }} is {{getSeverStatus()}}</p>     